.background-wrapper {
    background-color: #061642;
    height: 100vh;
    width: 100vw;  
}

.traffic-light {
    width: 150px;
    height: 300px;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: width 0.3s, height 0.3s;
  }
  

  .traffic-light.purple {
    width: 150px;
    height: 400px;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: width 0.3s, height 0.3s;
  }
  

  .light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0.4;
    transition: box-shadow 0.3s
  }
  

  .red-light {
    background-color: red;
  }
  
  .yellow-light {
    background-color: orange;
  }
  
  .green-light {
    background-color: green;
  }
  
  .purple-light {
    background-color: purple;
  }


  .red-shadow {
    box-shadow: 0 0 30px red;
  }

    .yellow-shadow {
    box-shadow: 0 0 30px yellow;
  }

    .green-shadow {
    box-shadow: 0 0 30px green;
  }

  .purple-shadow {
    box-shadow: 0 0 30px purple;
  }

  .traffic-light::before {
    content: '';
    position: absolute;
    top: -50px;
    width: 10px;
    height: 50px;
    background-color: black;
  }
  
  .active {
    opacity: 1;
}